<div class="center">
  <div class="cards">
    <div class="header">
      <h1>Acesso</h1>
    </div>
    <div class="body">
      <form [formGroup]="formLogin">
        <div class="md-form">
          <input mdbInput type="email" name="text" id="form1" class="form-control" formControlName="email">
          <label for="form1" class="">E-mail</label>
        </div>
        <div class="md-form">
          <input mdbInput type="password" name="text" id="form1" class="form-control" formControlName="password">
          <label for="form1" class="">Password</label>
        </div>
      </form>
    </div>
    <div class="footer">
      <button mdbBtn type="reset" color="elegant" mdbWavesEffect>Cancel</button>
      <button mdbBtn type="button" color="unique" *ngIf="!loading" (click)="onSubmit()" [disabled]="formLogin.invalid" mdbWavesEffect>entrar</button>
      <button mdbBtn type="button" color="unique" *ngIf="loading" (click)="onSubmit()" [disabled]="true" mdbWavesEffect>Espere...</button>
    </div>
  </div>
  <div class="text-block text-center my-3">
    <span class="text-small font-weight-semibold">No estas registrado? </span>
    <br>
    <a routerLink="/register" class="text-black text-small">Crear una cuenta</a>
  </div>
</div>
