<div class="center">
  <div class="cards">
    <div class="header">
      <h1>Acesso</h1>
    </div>
    <div class="body">
      <div>
        <div class="md-form">
          <input mdbInput type="text" name="text" id="form1" class="form-control">
          <label for="form1" class="">E-mail</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" name="text" id="form1" class="form-control">
          <label for="form1" class="">Password</label>
        </div>
      </div>
    </div>
    <div class="footer">
      <button mdbBtn type="button" color="elegant" mdbWavesEffect>Cancel</button>
      <button mdbBtn type="button" color="unique" mdbWavesEffect>Entrar</button>
    </div>
  </div>
  <div class="text-block text-center my-3">
    <span class="text-small font-weight-semibold">No estas registrado? </span>
    <br>
    <a routerLink="/register" class="text-black text-small">Crear una cuenta</a>
  </div>
</div>
